/* Add this CSS code in a separate stylesheet file */

.container-fluid {
    position: fixed;
    z-index: 1;
    font-family: 'Times New Roman', Times, serif;
}

.mainContent {
    margin-top: 3em;
}

.navv {
    z-index: 2;
    font-family: 'Times New Roman', Times, serif;
}

.fixed-top {
    background-color: #f0f0f0; /* Light color */
}
