.sidebar {
    padding-top: 60px;
}

.list {
    font-family: 'Times New Roman', serif;
}

.item {
    color: #000; /* Black color for item text */
}

.item:hover {
    background-color: #e0e0e0; /* Light grey on hover */
}

.divider {
    border-top: 0px solid #d3d3d3; /* Light grey divider line */
    margin-top: 10px;
    margin-bottom: 10px;
}
