/* Use Times New Roman font */
body {
    font-family: 'Times New Roman', serif;
  }
  
  .table {
    max-width: 90%;
    text-align: center;
    margin: auto;
    background-color: #c7c7c7; /* Light gray color */
    color: #333; /* Dark gray color */
  }
  
  .btn {
    text-align: center;
    background-color: #4caf50; /* Green color */
    color: white;
    font-weight: bold;
  }
  
  .tc2 {
    color: #333; /* Dark gray color */
    width: fit-content;
  }
  
  .formCon {
    color: #333; /* Dark gray color */
    width: 100%;
    border-color: #e0e0e0; /* Light gray color */
  }
  