/* Use Times New Roman font */
body {
    font-family: 'Times New Roman', serif;
  }
  
  .bread {
    margin-top: 75px;
  }
  
  .table {
    max-width: 90%;
    text-align: center;
    margin: auto;
    background-color: #f0f0f0; /* Light gray color */
    color: #333; /* Dark gray color */
  }
  
  .btn {
    text-align: center;
    background-color: #8a2be2; /* Blue Violet color */
    color: white;
    font-weight: bold;
  }
  
  .tc2 {
    color: white;
    width: fit-content;
  }
  
  .formCon {
    color: white;
    width: 100%;
    border-color: azure;
  }
  